footer
  span `Still Alive` by Jonathon Coulton
  span Sequenced by Andrew Coccimiglio
  span Adapted by Jan Kaltenecker
  span 
    a(href="https://github.com/Jan-Ka/sams-still-alive", target="_self") vPACKAGE_VERSION Code on GitHub
