#instructions.instructions
  p Please press the ◉ Button above to begin Setup.
  p his is necessary because modern Browsers keep Websites from playing random crap if you don't want to.
  p They really do you a favor. So, please, click the ◉ Button.
