$amber: #ffbb00;
$background: #282828;

html,
body {
    color: $amber;
    background: $background;
    font-family: "Courier New", monospace;
    font-size: 16px;

    height: 100%;
    margin: 0.1rem;
}

.container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

header {
    height: 2rem;

    flex: 0 1 auto;

    padding: 1rem;
    border: 1px dashed $amber;
    vertical-align: baseline;
    font-size: 2rem;
    line-height: 2rem;

    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    align-content: space-between;
    justify-content: space-between;

    h1.title {
        display: inline;
        margin: 0;
        font-size: 2rem;
        line-height: 2rem;
    }
}

#control {
    width: 3rem;
    height: 100%;
    align-self: flex-end;

    color: $amber;
    border: 1px solid $amber;
    border-radius: 2px;
    background: $background;

    &:disabled {
        color: grey;
        border-color: grey;
        border-style: dashed;
    }

    @keyframes pulsate {
        0% {
            box-shadow: 0 0.1rem 0.5rem rgba($amber, 0);
        }
        50% {
            box-shadow: 0 0.1rem 0.5rem rgba($amber, 0.4);
        }
        100% {
            box-shadow: 0 0.1rem 0.5rem rgba($amber, 0.8);
        }
    }

    &:focus {
        outline: $amber;
        animation: pulsate 1s alternate infinite;
    }
}

#content {
    padding: 1rem;
    flex: 1 1 auto;

    display: flex;
    flex-flow: column wrap;
}

footer {
    height: 1rem;

    flex: 0 1 1rem;

    padding: 0.25rem;
    border: 1px dashed $amber;
    vertical-align: baseline;
    line-height: 1rem;

    display: flex;
}

.line {
    display: inline-block;
    line-height: 1rem;
    min-height: 1rem;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#cursor {
    display: inline-block;
    width: 0.5em;
    height: 1em;
    background-color: $amber;
    margin-left: 0;

    animation: blink 0.6s linear infinite alternate;
}
